<div class="ui container">
  <div class="ui basic center aligned segment">
    <h1 class="ui splash header">
      <div class="content">
        Block x Block
        <div class="sub header">Mapping the place-based economic development activity enabled by the 
          <a href="http://www.massdevelopment.com/what-we-offer/key-initiatives/gateway-cities/" target="_blank">
            <h3 class="ui splash semi-bold header">Transformation Development Initiative</h3>
          </a>
        </div>
      </div>
    </h1>
  </div>

  <div class="ui container">
    {{cities-grid cities=model}}
  </div>

  <br/>

  {{statewide-map cities=model}}

  <div class="ui basic center aligned segment" id="about">
    <h1 class="ui splash header">
      <div class="content">
        Block x Block
        <div class="sub header">Mapping the place-based economic development activity enabled by the 
          <a href="http://www.massdevelopment.com/what-we-offer/key-initiatives/gateway-cities/" target="_blank">
            <h3 class="ui splash semi-bold header">Transformation Development Initiative</h3>
          </a>
        </div>
      </div>
    </h1>
    <div class="ui container">
      <h1 class="ui splash header">About Block x Block</h1>

      <p>This web-based, interactive platform records and contextualizes economic activity at the scale in which urban interventions are deployed and experienced. In doing so, the tool captures hard-earned implementation lessons, reveals spatial and temporal patterns of development, and refines our understanding of catalytic investments. The maps of hyper-localized activity contained within the platform do more than visualize data. The relationships between points are themselves an additional form of data: one that correlates development outcomes with the collective actions of the community of stakeholders responsible for the district’s long-term success. 
Right now, the platform is operating in beta mode. We appreciate your participation in the ongoing data collection efforts—we believe that your working knowledge is critical to the success of future place-based interventions and we thank you for sharing your experience with us! </p>

      <h1 class="ui splash header">About Transformation Development Initiative</h1>

      <p>MassDevelopment's Transformative Development Initiative (TDI) is a development accelerator for Gateway Cities.  The initiative acts through Fellows and District Managers to implement locally initiated, catalytic revitalization activities within compact geographies, each no larger than a 5 minute walking radius. Team TDI works in conjunction with local public-private partners to enable sustainable district management, build a vibrant and inclusive public realm, and inspire investments by local residents, entrepreneurs, and businesses, and additional private development—contributions that we call “community co-investment.”  
Along with program-specific tools in the Commonwealth of Massachusetts' Transformative Development Fund, TDI deploys existing MassDevelopment finance products and real estate services to encourage development activity by private landowners, enterprises, and investors. The Transformative Development Fund was created within MassDevelopment pursuant to C. 287, Acts of 2014, in August 2014. Twenty-six Gateway Cities were eligible for the program, and in 2014, 10 were selected for the three-year pilot program. These 10 districts are currently in development. </p>


      <h1 class="ui splash header">About MassDevelopment</h1>

      <p>As the Commonwealth’s quasi-public economic development and finance authority, MassDevelopment offers financing and real estate solutions to support companies and nonprofits, increase housing, eliminate blight, and drive economic growth across Massachusetts.  </p>
    </div>

    <h1 class="ui splash header" id="data-info">
      <div class="content">
        Data Info
      </div>
    </h1>
    <div class="ui container">
      <h1 class="ui splash header">About Block x Block</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <a href="#" class="mini ui button">
      Back to top
    </a>
  </div>
</div>

{{footer-nav}}
